{% extends "base.html" %}


{% block style_content %}
<style>
    .divlogin{
        margin-top: 80px;
    }
</style>
{% endblock %}

{% block page_content %}


<div class="outer-form divlogin container form-column col-md-4 ">
    <p class="tulisan_login"><h2><center>LOGIN</center></h4></p>
  <form action="{% url 'users:mylogin' %}" method="POST">
    {% csrf_token %}
    <div class="form-group">
      <label for="exampleInputEmail1">Username</label>
      {{ form.username }}

    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      {{ form.password }}
    </div>
    
    <div style="text-align: center;">
      {% if messages %}
      {% for message in messages %}
      <p {% if message.tags %} class="{{ message.tags }} text-danger"{% endif %}>{{ message }}</p>
      {% endfor %}
      {% endif %}
      
    </div>
    <div class="d-flex justify-content-center">
      

      <input class="btn btn-primary " type="submit" value="Log in">
      
    </div>
    
    
  </form>
</div>
{% endblock %}
