<!-- ceritanya pengguna_publik -->
{% extends "base.html" %}

{% block page_content %}
<h1> <center> Register Form </center></h1>
<h5> <center> Choose your role first, then fill the form </center></h5>
<div class="card">
    <div class="card-header">
      <ul class="nav nav-tabs card-header-tabs">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'users:regadminsistem' %}">Admin Sistem</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="{% url 'users:regpenggunappublik' %}">Pengguna Publik</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'users:regdokter' %}">Dokter</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'users:regadminsatgas' %}">Admin Satgas</a>
        </li>
      </ul>
    </div>
    <div class="card-body form_bg_color ">
      <div class="outer-form container form-column col-md-4  ">
        <p class="tulisan_login"><h4><center>Register as Pengguna Publik</center></h4></p>
      <form action="{% url 'users:regpenggunappublik' %}" method="POST">
          {% csrf_token %}
          <div class="form-group .justify-content-start ">
            <label for="exampleInputEmail1">Email</label>
            {{ form.username }}
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            {{ form.password }}
          </div>

          <div class="form-group">
            <label for="validationDefault01">Nama lengkap</label>
            {{ form.nama }}
          </div>

          <div class="form-group">
            <label for="validationDefault02">NIK</label>
            {{ form.nik }}
          </div>

          <div class="form-group">
            <label for="validationDefault02">No HP</label>
            {{ form.nohp }}
          </div>

          <button type="submit" class="btn btn-primary  btn-am">Sign Up</button>
          <div style="text-align: center;">
          {% if message is not None %}
          <div style="padding:auto; width:600px; height:70px; margin:auto; text-align=center;" class="alert alert-danger" role="alert" text-align="center">
          {{ message }}
          </div>
          {% endif %}
          </div>
      </form>
      </div>
    </div>
  </div>

{% endblock %}
