{% extends 'base.html' %}

{% block page_content %}

<h1 class="mt-4"> <center> List Reservasi </center></h1>
<br>

<div class="container d-flex justify-content-center" align="center">
			
	<table class="table table-hover  justify-content-center" align="center" style="text-align: center;">
		<thead class="thead-dark">
			
				<th>No.</th>
				<th>NIK Pasien</th>
				<th>Tanggal Masuk</th>
				<th>Tanggal Keluar</th>
				<th>Rumah Sakit</th>
                <th>Ruangan</th>
                <th>Bed</th>
                {% if request.session.role == 'ADMIN_SATGAS' %}
				<th>Action</th>
				{% endif %}

		</thead>
		{% for isi in listreservasi %}

		<tr>
            
            <td>{{ forloop.counter }}</td>
            <td>{{ isi.kodepasien }}</td>
            <td>{{ isi.tglmasuk | date:'d-m-Y' }}</td>
            <td>{{ isi.tglkeluar | date:'d-m-Y' }}</td>
            <td>{{ isi.koders }}</td>
            <td>{{ isi.koderuangan }}</td>
            <td>{{ isi.kodebed }}</td>

            {% if request.session.role == 'ADMIN_SATGAS'  %}
                {% if isi.tglmasuk|date:'d-m-Y' < hariini  %}
                    <td>
                        <form action="{% url 'rumahsakit:deleteReservasiRS' %}" method="GET">
                            <input type="hidden" id="kodepasien" name="kodepasien" value="{{ isi.kodepasien }}">
                            <input type="hidden" id="tglmasuk" name="tglmasuk" value="{{ isi.tglmasuk | date:'Y-m-d' }}">
                            <input type="hidden" id="tglkeluar" name="tglkeluar" value="{{ isi.tglkeluar | date:'Y-m-d' }}">
                            <input type="hidden" id="koders" name="koders" value="{{ isi.koders }}">
                            <input type="hidden" id="koderuangan" name="koderuangan" value="{{ isi.koderuangan }}">
                            <input type="hidden" id="kodebed" name="kodebed" value="{{ isi.kodebed }}">
                            <input type="submit" class="btn btn-danger" value="Delete">
                        </form>
                        <br>
                        <form action="{% url 'rumahsakit:updateReservasiRS'  %}" method="GET">
                            <input type="hidden" id="kodepasien" name="kodepasien" value="{{ isi.kodepasien }}">
                            <input type="hidden" id="tglmasuk" name="tglmasuk" value="{{ isi.tglmasuk | date:'Y-m-d' }}">
                            <input type="hidden" id="tglkeluar" name="tglkeluar" value="{{ isi.tglkeluar | date:'Y-m-d' }}">
                            <input type="hidden" id="koders" name="koders" value="{{ isi.koders }}">
                            <input type="hidden" id="koderuangan" name="koderuangan" value="{{ isi.koderuangan }}">
                            <input type="hidden" id="kodebed" name="kodebed" value="{{ isi.kodebed }}">
                            <input type="submit" class="btn btn-success" value="Update">
                        </form>
                    </td>
                {% else %}
                    <td>
                        <form action="{% url 'rumahsakit:deleteReservasiRS' %}" method="GET">
                            <input type="hidden" id="kodepasien" name="kodepasien" value="{{ isi.kodepasien }}">
                            <input type="hidden" id="tglmasuk" name="tglmasuk" value="{{ isi.tglmasuk | date:'Y-m-d' }}">
                            <input type="hidden" id="tglkeluar" name="tglkeluar" value="{{ isi.tglkeluar | date:'Y-m-d' }}">
                            <input type="hidden" id="koders" name="koders" value="{{ isi.koders }}">
                            <input type="hidden" id="koderuangan" name="koderuangan" value="{{ isi.koderuangan }}">
                            <input type="hidden" id="kodebed" name="kodebed" value="{{ isi.kodebed }}">
                            <input type="submit" class="btn btn-danger" value="Delete">
                        </form>
                    </td>
                {% endif %}
            {% endif %}
            
        </tr>
        {% endfor %}
    </table>		
</div>

{% endblock page_content %}