{% extends 'base.html' %}

{% block page_content %}
<h1 class="mt-4"> <center> Reservasi Rumah Sakit </center></h1>
<br>
<div class="container d-flex justify-content-center" align="center">

    <form action="{% url 'rumahsakit:reservasiRS' %}" method="post">
        {% csrf_token %}

        <div class="form-group">

            <h4>{{ form.nik.label }}</h4>
                {{ form.nik }}

            <h4>{{ form.tanggal_masuk.label }}</h4>
                {{ form.tanggal_masuk }}

            <h4>{{ form.tanggal_keluar.label }}</h4> 
                {{ form.tanggal_keluar }}

            <h4>{{ form.kode_rs.label }}</h4>
                {{ form.kode_rs }}

            </div>
        <input class="btn btn-outline-primary" type="submit" value="Simpan">

        </form>
    
</div> 

{% endblock %}