{% extends 'base.html' %}

{% block page_content %}

<h1 class="mt-4"> <center> List Transaksi </center></h1>
<br>

<div class="container d-flex justify-content-center" align="center">
			
	<table class="table table-hover  justify-content-center" align="center" style="text-align: center;">
		<thead class="thead-dark">
			
				<th>Id Transaksi</th>
				<th>Kode Pasien</th>
				<th>Tanggal Pembayaran</th>
				<th>Waktu Pembayaran</th>
                <th>Tanggal Masuk</th>
				<th>Total Biaya</th>
				<th>Status Bayar</th>
				{% if request.session.role == 'ADMIN_SATGAS' %}
                <th>Action</th>
                {% endif %}


		</thead>
		{% for isi in transaksi %}

		<tr>
            
            <td>{{ isi.idtransaksi }}</td>
            <td>{{ isi.kodepasien  }}</td>
            <td>{{ isi.tanggalpembayaran | date:'d-m-Y' }}</td>
            <td>{{ isi.waktupembayaran }}</td>
            <td>{{ isi.tglmasuk | date:'d-m-Y' }}</td>
            <td>{{ isi.totalbiaya  }}</td>
            <td>{{ isi.statusbayar  }}</td>

            {% if request.session.role == 'ADMIN_SATGAS'  %}
            
                <td>
                    <form action="{% url 'rumahsakit:deleteTransaksi' %}" method="GET">
                        <input type="hidden" id="idtransaksi" name="idtransaksi" value="{{ isi.idtransaksi }}">
                        <input type="submit" class="btn btn-danger" value="Delete">
                    </form>
                
                </td>
                
            {% endif %}
            
        </tr>
        {% endfor %}
    </table>		
</div>

{% endblock page_content %}