{% extends 'base.html' %}

{% block page_content %}
<h1> <center> Update Reservasi RS </center></h1>
{% if message is not None %}
    <div style="padding:auto; width:600px; height:70px; margin:auto; text-align=center;" class="alert alert-danger" role="alert" text-align="center">
    {{ message }}
    </div>
{% endif %}
<div class="container d-flex justify-content-center" align="center">
<form action="{% url 'rumahsakit:updateReservasiRS' %}" method="post">
    {% csrf_token %}

    <div class="form-group">

    <div>

    <h4>{{ form.nik_pasien.label }}</h4>
    <div class="input-group mb-3 ">   
        {{ form.nik }}
    </div>

    <h4>{{ form.tanggal_masuk.label }}</h4>
    <div class="input-group mb-3">  
        {{ form.tanggal_masuk }}
    </div>

    <h4>{{ form.tanggal_keluar.label }}</h4>
    <div class="input-group mb-3">  
        {{ form.tanggal_keluar }}
    </div>

    <h4>{{ form.kode_rs.label }}</h4>
    <div class="input-group mb-3">  
        {{ form.kode_rs }}
    </div>

    <h4>{{ form.kode_ruangan.label }}</h4> 
    <div class="input-group mb-3"> 
        {{ form.kode_ruangan }}
    </div>

    <h4>{{ form.kode_bed.label }}</h4>
    <div class="input-group mb-3">  
        {{ form.kode_bed }}
    </div>

        </div>
    <input class="btn btn-outline-primary" type="submit" value="Simpan">

    </form>
</div>
{% endblock page_content %}