{% extends 'base.html' %}

{% block page_content %}

<h1 class="mt-4"> <center> List Transaksi Booking </center></h1>
<br>

<div class="container d-flex justify-content-center" align="center">
			
	<table class="table table-hover  justify-content-center" align="center" style="text-align: center;">
		<thead class="thead-dark">
            
				<th>No.</th>
				<th>Id Transaksi</th>
				<th>Total Bayar</th>
				<th>Kode Pasien</th>
				<th>Tanggal Masuk</th>
                <!-- {% if request.session.role == 'ADMIN_SATGAS' %}
				<th>Action</th>
				{% endif %} -->
		</thead>

        {% for isi in transbook %}

		<tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ isi.idtransaksibooking }}</td>
            <td>Rp{{ isi.totalbayar }}</td>
            <td>{{ isi.kodepasien }}</td>
            <td>{{ isi.tglmasuk | date:'d-m-Y' }}</td>
        

            <!-- {% if request.session.role == 'ADMIN_SATGAS' %}
            <td>
                <form action="#" method="GET">
                    <input type="hidden" id="kodehotel" name="kodehotel" value="{{ isi.kodehotel }}">
                    <input type="hidden" id="koderoom" name="koderoom" value="{{ isi.koderoom }}">
                    <input type="hidden" id="jenisbed" name="jenisbed" value="{{ isi.jenisbed }}">
                    <input type="hidden" id="tipe" name="tipe" value="{{ isi.tipe }}">
                    <input type="hidden" id="harga" name="harga" value="Rp{{ isi.harga }}">
                    <input type="submit" class="btn btn-success" value="Delete">
                </form>
            </td>
            {% endif %} -->
        </tr>
        {% endfor %}
    </table>		
</div>
{% endblock page_content %}