{% extends 'base.html' %}

{% block page_content %}
<h1> <center> Create Pasien </center></h1>
<div style="margin-top: 40px;" class="outer-form container">
    <form action="{% url 'pasien:create-pasien' %}" method="POST">
        {% csrf_token %}
        <div class="form-group .justify-content-start ">
            <p>Pendaftar     : {{ user }}</p>
        </div>
        <div class="form-group">
            <label for="validationDefault02">NIK</label>
            {{ form.nik }}
        </div>
        <div class="form-group">
            <label for="validationDefault02">Nama</label>
            {{ form.nama }}
        </div>
    
        <div class="form-group">
            <label for="validationDefault02">Nomor Telepon</label>
            {{ form.notelp }}
        </div>
    
        <div class="form-group">
            <label for="validationDefault02">No HP</label>
            {{ form.nohp }}
        </div>
        
        <h3>Alamat (Sesuai KTP): </h3>
        
        <div class="form-group">
            <label for="validationDefault02">Jalan</label>
            {{ form.KTP_Jalan }}
        </div>
    
        <div class="form-group">
            <label for="validationDefault02">Kelurahan</label>
            {{ form.KTP_Kelurahan }}
        </div>
    
        <div class="form-group">
            <label for="validationDefault02">Kecamatan</label>
            {{ form.KTP_Kecamatan }}
            </div>
            
        <div class="form-group">
            <label for="validationDefault02">Kabupaten/Kota</label>
            {{ form.KTP_Kabkot }}
        </div>
    
        <div class="form-group">
            <label for="validationDefault02">Provinsi</label>
            {{ form.KTP_Prov }}
        </div>
        
        <h3>Alamat (Domisili): </h3>
        
        <div class="form-group">
            <label for="validationDefault02">Jalan</label>
            {{ form.dom_jalan }}
        </div>
        
        <div class="form-group">
            <label for="validationDefault02">Kelurahan</label>
            {{ form.dom_kelurahan }}
        </div>
        
        <div class="form-group">
            <label for="validationDefault02">Kecamatan</label>
            {{ form.dom_kecamatan }}
        </div>
        
        <div class="form-group">
            <label for="validationDefault02">Kabupaten/Kota</label>
            {{ form.dom_kabkot }}
        </div>
    
        <div class="form-group">
            <label for="validationDefault02">Provinsi</label>
            {{ form.dom_prov }}
        </div>
        
        <button type="submit" class="btn btn-primary  btn-am">SIMPAN</button>
    </form>
    

</div>

{% endblock page_content %}



