{% extends "base.html" %}

{% block page_content %}

<body>
    <div style="margin-top: 40px;" class="outer-form container">
        <h2><center>DETAIL PASIEN</center></h2>
        <div style="margin-top: 15px;" class="container">
            <p>Pendaftar            : {{ data.0.idpendaftar }}</p>
            <p>NIK                  : {{ data.0.nik }}</p>
            <p>Nama                 : {{ data.0.nama }}</p>
            <p>Nomor Telepon        : {{ data.0.notelp }}</p>
            <p>Nomor Hp             : {{ data.0.nohp }}</p>
            <h3>Alamat (Sesuai KTP) : </h3>
            <p>Jalan                : {{ data.0.ktp_jalan }}</p>
            <p>Kelurahan            : {{ data.0.ktp_kelurahan }}</p>
            <p>Kecamatan            : {{ data.0.ktp_kecamatan }}</p>
            <p>Kabupaten/Kota       : {{ data.0.ktp_kabkot }}</p>
            <p>Provinsi             : {{ data.0.ktp_prov }}</p>
            <h3>Alamat (Domisili) : </h3>
            <p>Jalan                : {{ data.0.dom_jalan }}</p>
            <p>Kelurahan            : {{ data.0.dom_kelurahan }}</p>
            <p>Kecamatan            : {{ data.0.dom_kecamatan }}</p>
            <p>Kabupaten/Kota       : {{ data.0.dom_kabkot }}</p>
            <p>Provinsi             : {{ data.0.dom_prov }}</p>
        </div>
    </div>
</body>
{% endblock %}