{% extends 'base.html' %}
{% load static %}
{% block page_content %}

<h1 class="mt-4"> <center> List Pasien </center></h1>
<br>

<div class="container d-flex justify-content-center" align="center">
			
	<table class="table table-hover justify-content-center" align="center" style="text-align: center;">
		<thead class="thead-dark">
			
				<th>No.</th>
				<th>NIK</th>
				<th>Nama Pasien</th>
				<th>Action</th>

		</thead>
		{% for data in pasien %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ data.nik }}</td>
                <td>{{ data.nama }}</td>
                
                <td>
                    <div class=" d-flex flex-row justify-content-center">

                        <form class="ml-2" action="{% url 'pasien:detailPasien' %}" method="GET">
                            <input type="hidden" id="nik" name="nik" value="{{ data.nik }}">
                            <input type="hidden" id="nama" name="nama" value="{{ data.nama }}">
                            <input type="submit" class="btn btn-info" value="Detail">
                        </form>

                        <form class="ml-2" action="{% url 'pasien:updatePasien' %}" method="GET" >
                            <input type="hidden" id="nik" name="nik" value="{{ data.nik }}">
                            <input type="hidden" id="nama" name="nama" value="{{ data.nama }}">
                            <input type="submit" class="btn btn-success" value="Update">
                        </form>

                        <form class="ml-2" action="{% url 'pasien:deletePasien' %}" method="GET">
                            <input type="hidden" id="nik" name="nik" value="{{ data.nik }}">
                            <input type="hidden" id="nama" name="nama" value="{{ data.nama }}">
                            <input type="submit" class="btn btn-danger" value="Delete">
                        </form>
                    </div>
                    
                </td>
            </tr>
        {% endfor %}
    </table>		
</div>


{% endblock page_content %}
