{% extends 'base.html' %}

{% block page_content %}
<h1> <center> Update Pasien </center></h1>

<div class="container d-flex justify-content-center" align="center">
<form action="{% url 'pasien:updatePasien' %}" method="post">
    {% csrf_token %}

    <div class="form-group">
    <div>

    <h4>{{ form.pendaftar.label }}</h4>
    <div class="input-group mb-3 ">   
      {{ form.pendaftar }}
    </div>

    <h4>{{ form.nik.label }}</h4>
    <div class="input-group mb-3 ">   
      {{ form.nik }}
    </div>

    <h4>{{ form.nama.label }}</h4>
    <div class="input-group mb-3">  
      {{ form.nama }}
    </div>

    <h4>{{ form.notelp.label }}</h4>
    <div class="input-group mb-3">  
      {{ form.notelp }}
    </div>

    <h4>{{ form.nohp.label }}</h4>
    <div class="input-group mb-3">  
      {{ form.nohp }}
    </div>

    <h3>Alamat (Sesuai KTP): </h3>

    <h4>{{ form.KTP_Jalan.label }}</h4>
    <div class="input-group mb-3">  
      {{ form.KTP_Jalan }}
    </div>

    <h4>{{ form.KTP_Kelurahan.label }}</h4> 
    <div class="input-group mb-3"> 
      {{ form.KTP_Kelurahan }}
    </div>

    <h4>{{ form.KTP_Kecamatan.label }}</h4>
    <div class="input-group mb-3">  
      {{ form.KTP_Kecamatan }}
    </div>

    <h4>{{ form.KTP_Kabkot.label }}</h4>
    <div class="input-group mb-3">  
      {{ form.KTP_Kabkot }}
    </div>

    <h4>{{ form.KTP_Prov.label }}</h4>
    <div class="input-group mb-3">  
      {{ form.KTP_Prov }}
    </div>
    
    <h3>Alamat (Domisili): </h3>

    <h4>{{ form.dom_jalan.label }}</h4>
    <div class="input-group mb-3">  
      {{ form.dom_jalan }}
    </div>

    <h4>{{ form.dom_kelurahan.label }}</h4> 
    <div class="input-group mb-3"> 
      {{ form.dom_kelurahan }}
    </div>

    <h4>{{ form.dom_kecamatan.label }}</h4>
    <div class="input-group mb-3">  
      {{ form.dom_kecamatan }}
    </div>

    <h4>{{ form.dom_kabkot.label }}</h4>
    <div class="input-group mb-3">  
      {{ form.dom_kabkot }}
    </div>

    <h4>{{ form.dom_prov.label }}</h4>
    <div class="input-group mb-3">  
      {{ form.dom_prov }}
    </div>
    

        </div>
    <input class="btn btn-outline-primary" type="submit" value="Simpan">

  </form>
</div>
{% endblock page_content %}