{% extends "base.html" %}

{% block page_content %}
<h1> <center> Form Reservasi Hotel </center></h1>

    <!-- {% if message is not None %}
    <div style="padding:auto; width:600px; height:70px; margin:auto; text-align=center;" class="alert alert-danger" role="alert" text-align="center">
    {{ message }}
    </div>
    {% endif %}
    <br>
    <br> -->

  <div class="container d-flex justify-content-center" align="center">

        <form id="reservasiForm" method="POST">
          {% csrf_token %}

          <div class="form-group">

          <h5>{{ arg.form.nik.label }}</h5>
            {{ arg.form.nik }}

          <h5>{{ arg.form.tglmasuk.label }}</h5>
            {{ arg.form.tglmasuk }}

          <h5>{{ arg.form.tglkeluar.label }}</h5> 
            {{ arg.form.tglkeluar }}

          <h5>{{ arg.form.kode.label }}</h5>
            {{ arg.form.kode }}

          <h5>{{ arg.form.koderoom.label }}</h5>
            {{ arg.form.koderoom }}

      	    </div>
          <input class="btn btn-outline-primary" type="submit" value="Simpan">

        </form>
   
  </div> 

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>
    var json = JSON.parse("{{ arg.pilihan | escapejs }}")
    console.log(json)

    $("#id_kode").change(function() {
      var data = json[$(this).val()]

      $("#id_koderoom").find('option').remove()

      $.each(data, function(key, value) {
        $("#id_koderoom").append("<option value='" + value + "'>" + value + "</option>")
      })
    })
      

</script>
{% endblock %}