{% extends 'base.html' %}

{% block page_content %}

<h1 class="mt-4"> <center> List Reservasi Hotel </center></h1>
<br>

<div class="container d-flex justify-content-center" align="center">
			
	<table class="table table-hover  justify-content-center" align="center" style="text-align: center;">
		<thead class="thead-dark">

				<th>No.</th>
				<th>NIK Pasien</th>
				<th>Tanggal Masuk</th>
				<th>Tanggal Keluar</th>
				<th>Kode Hotel</th>
                <th>Ruangan</th>
                {% if request.session.role == 'ADMIN_SATGAS'%}
				<th>Action</th>
			    {% endif %}
        </thead>
		{% for isi in reservasi %}

		<tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ isi.kodepasien }}</td>
            <td>{{ isi.tglmasuk  | date:'d-m-Y' }}</td>
            <td>{{ isi.tglkeluar | date:'d-m-Y' }}</td>
            <td>{{ isi.kodehotel }}</td>
            <td>{{ isi.koderoom }}</td>
            {% if request.session.role == 'ADMIN_SATGAS'  %}
            <td>
                <form action="#" method="GET">
                   <input type="hidden" id="kode" name="kode" value="{{ isi.kodehotel }}">
                   <input type="hidden" id="kodehotel" name="kodehotel" value="{{ isi.kodepasien }}">
                   <input type="hidden" id="koderoom" name="koderoom" value="{{ isi.tglmasuk | date:'d-m-Y' }}">
                   <input type="hidden" id="jenisbed" name="jenisbed" value="{{ isi.tglkeluar | date:'d-m-Y' }}">
                   <input type="hidden" id="tipe" name="tipe" value="{{ isi.kodehotel }}">
                   <input type="hidden" id="harga" name="harga" value="{{ isi.koderoom }}">
                    <input type="submit" class="btn btn-success" value="Update">
                </form>
            </td>

            <td>
                
                {% if isi.tglmasuk|date:'d-m-Y' > hariini  %}
                <form action="{% url 'reservasihotel:deleteReservasiHotel' %}" method="GET">
                    <input type="hidden" id="kodehotel" name="kodehotel" value="{{ isi.kodepasien }}">
                    <input type="hidden" id="koderoom" name="koderoom" value="{{ isi.tglmasuk | date:'d-m-Y' }}">
                    <input type="hidden" id="jenisbed" name="jenisbed" value="{{ isi.tglkeluar | date:'d-m-Y' }}">
                    <input type="hidden" id="tipe" name="tipe" value="{{ isi.kodehotel }}">
                    <input type="hidden" id="harga" name="harga" value="{{ isi.koderoom }}">
                    <input type="submit" class="btn btn-success" value="Delete">
                </form>
                {% endif %}
                
            </td>
            {% endif %}
        </tr>
        {% endfor %}

    </table>		
</div>

    <div class="col text-center" style="margin: 20px 20px">
        <form action="{% url 'ruanganhotel:listHotelRoom' %}" method="GET">
            <input type="submit" class="btn btn-outline-primary" value="SIMPAN">
        </form>
    </div>

{% endblock page_content %}