{% extends "base.html" %}

{% block page_content %}

<body>
    <div style="margin-top: 40px;" class="outer-form container">
        <h2><center>DETAIL FASKES</center></h2>
        <div style="margin-top: 15px;" class="container">
            <p>Kode Faskes          : {{ data_faskes.kode }}</p>
            <p>Tipe                 : {{ data_faskes.tipe }}</p>
            <p>Nama Faskes          : {{ data_faskes.nama }}</p>
            <p>Status Kepemilikan   : {{ data_faskes.statusmilik }}</p>
            
            <h3>Alamat              : </h3>
            <p>Jalan                : {{ data_faskes.jalan }}</p>
            <p>Kelurahan            : {{ data_faskes.kelurahan }}</p>
            <p>Kecamatan            : {{ data_faskes.kecamatan }}</p>
            <p>Kabupaten/Kota       : {{ data_faskes.kabkot }}</p>
            <p>Provinsi             : {{ data_faskes.prov }}</p>
        </div>
        <form action="{% url 'faskes:listReservasiFaskes' %}" method="GET">
            <input type="submit" class="btn btn-outline-primary" value="Kembali">
        </form>
    </div>

 
</body>
{% endblock %}