{% extends 'base.html' %}

{% block page_content %}

<h1 class="mt-4"> <center> List Faskes </center></h1>
<br>

<div class="container d-flex justify-content-center" align="center">
			
	<table class="table table-hover  justify-content-center" align="center" style="text-align: center;">
		<thead class="thead-dark">
			
            <th>Kode Faskes</th>
            <th>Tipe</th>
            <th>Nama Faskes</th>

            {% if request.session.role == 'ADMIN_SATGAS' %}
            <th>Action</th>
            {% endif %}

		</thead>
		{% for isi in listreservasi %}

		<tr>
            
            <td>{{ isi.kode }}</td>
            <td>{{ isi.tipe }}</td>
            <td>{{ isi.nama }}</td>


            {% if request.session.role == 'ADMIN_SATGAS'  %}
            
                <td>
                    <form action="{% url 'faskes:detailFaskes' %}" method="GET">
                        <input type="hidden" id="kode" name="kode" value="{{ isi.kode }}">
                        <input type="hidden" id="tipe" name="tipe" value="{{ isi.tipe }}">
                        <input type="hidden" id="nama" name="nama" value="{{ isi.nama }}">
                        <input type="submit" class="btn btn-info" value="Detail">
                    </form>
                    
                    <br>
                    <form action="{% url 'faskes:deleteFaskes' %}" method="GET">
                        <input type="hidden" id="kode" name="kode" value="{{ isi.kode }}">
                        <input type="hidden" id="tipe" name="tipe" value="{{ isi.tipe }}">
                        <input type="hidden" id="nama" name="nama" value="{{ isi.nama }}">
                        <input type="submit" class="btn btn-danger" value="Delete">
                    </form>
                    
                    <br>
                    <form action="{% url 'faskes:updateFaskes' %}" method="GET">
                        <input type="hidden" id="kode" name="kode" value="{{ isi.kode }}">
                        <input type="hidden" id="tipe" name="tipe" value="{{ isi.tipe }}">
                        <input type="hidden" id="nama" name="nama" value="{{ isi.nama }}">
                        <input type="submit" class="btn btn-success" value="Update">
                    </form>
                </td>
                
            {% endif %}
            
        </tr>
        {% endfor %}
    </table>		
</div>

{% endblock page_content %}