{% extends 'base.html' %}

{% block page_content %}

<h1 class="mt-4"> <center> List Jadwal Faskes </center></h1>
<br>

<div class="container d-flex justify-content-center" align="center">
			
	<table class="table table-hover  justify-content-center" align="center" style="text-align: center;">
		<thead class="thead-dark">
			
				<th>No.</th>
				<th>Faskes</th>
				<th>Shift</th>
				<th>Tanggal</th>


		</thead>
		{% for isi in jadwal %}

		<tr>
            
            <td>{{ forloop.counter }}</td>
            <td>{{ isi.kode_faskes  }}</td>
            <td>{{ isi.shift  }}</td>
            <td>{{ isi.tanggal | date:'d-m-Y' }}</td>

            
        </tr>
        {% endfor %}
    </table>		
</div>

{% endblock page_content %}