{% extends 'base.html' %}

{% block page_content %}
<h1 class="mt-4"> <center> Reservasi Jadwal Faskes </center></h1>
<br>
<div class="container d-flex justify-content-center" align="center">

    <form action="{% url 'faskes:buatJadwalFaskes' %}" method="post">
        {% csrf_token %}

        <div class="form-group">

            <h4>{{ form.kode.label }}</h4>
                {{ form.kode }}

            <h4>{{ form.shift.label }}</h4>
                {{ form.shift }}

            <h4>{{ form.tanggal.label }}</h4> 
                {{ form.tanggal }}

            </div>
        <input class="btn btn-outline-primary" type="submit" value="Simpan">

        </form>
    
</div> 

{% endblock %}