{% extends 'base.html' %}

{% block page_content %}
<h1 class="mt-4"> <center> Reservasi Rumah Sakit </center></h1>
<br>
<div class="container d-flex justify-content-center" align="center">

    <form action="{% url 'faskes:ReservasiFaskes' %}" method="post">
        {% csrf_token %}

        <div class="form-group">

            <h4>{{ form.kode.label }}</h4>
                {{ form.kode }}

            <h4>{{ form.tipe.label }}</h4>
                {{ form.tipe }}

            <h4>{{ form.nama.label }}</h4> 
                {{ form.nama }}

            <h4>{{ form.statusmilik.label }}</h4>
                {{ form.statusmilik }}
                
            <h4>Alamat:</h4>
            <h4>{{ form.jalan.label }}</h4>
                {{ form.jalan }}  

            <h4>{{ form.kelurahan.label }}</h4>
                {{ form.kelurahan }}

            <h4>{{ form.kecamatan.label }}</h4>
                {{ form.kecamatan }}

            <h4>{{ form.kabkot.label }}</h4> 
                {{ form.kabkot }}

            <h4>{{ form.prov.label }}</h4>
                {{ form.prov }}
            

            </div>
        <input class="btn btn-outline-primary" type="submit" value="Simpan">

        </form>
    
</div> 

{% endblock %}