{% extends 'base.html' %}

{% block page_content %}
<h1> <center> Update Faskes </center></h1>
{% if message is not None %}
    <div style="padding:auto; width:600px; height:70px; margin:auto; text-align=center;" class="alert alert-danger" role="alert" text-align="center">
    {{ message }}
    </div>
{% endif %}
<div class="container d-flex justify-content-center" align="center">
    <form action="{% url 'faskes:updateFaskes' %}" method="post">
        {% csrf_token %}

        <div class="form-group">
            <label for="validationDefault02">{{ form.kode.label }}</label>
            {{ form.kode }}
        </div>

        <div class="form-group">
            <label for="validationDefault02">{{ form.tipe.label }}</label>
            {{ form.tipe }}
        </div>

        <div class="form-group">
            <label for="validationDefault02">{{ form.nama.label }}</label>
            {{ form.nama }}
        </div>

        <div class="form-group">
            <label for="validationDefault02">{{ form.statusmilik.label }}</label>
            {{ form.statusmilik }}
        </div>

        <div class="form-group">
            <label for="validationDefault02">{{ form.jalan.label }}</label>
            {{ form.jalan }}
        </div>

        <div class="form-group">
            <label for="validationDefault02">{{ form.kelurahan.label }}</label>
            {{ form.kelurahan }}
        </div>

        <div class="form-group">
            <label for="validationDefault02">{{ form.kecamatan.label }}</label>
            {{ form.kecamatan }}
        </div>

        <div class="form-group">
            <label for="validationDefault02">{{ form.kabkot.label }}</label>
            {{ form.kabkot }}
        </div>

        <div class="form-group">
            <label for="validationDefault02">{{ form.prov.label }}</label>
            {{ form.prov }}
        </div>

        <input class="btn btn-outline-primary" type="submit" value="Simpan">

    </form>
</div>
{% endblock page_content %}