{% extends "base.html" %}

{% block page_content %}

<body>
    <div style="margin-top: 40px;" class="outer-form container">
        <h3 style="text-align: center;">Selamat Datang</h3>
        <h1 style="text-align: center;" class="font-weight-bold">Admin Satgas</h1>

        <div class="container d-flex justify-content-center">
            <div style="margin-top: 2%;text-align: center; ">
                <p><span class="font-weight-bold">Email</span>: {{ user.0 }}</p>
                <p><span class="font-weight-bold">Id Faskes</span>: {{ role.1 }}</p>
            </div>
        </div>
    </div>
</body>
{% endblock %}
