{% extends "base.html" %}

{% block page_content %}

<body>
    <div style="margin-top: 40px;" class=" outer-form container">
        <h3 style="text-align: center;">Selamat Datang</h3>
        <h1 style="text-align: center;" class="font-weight-bold">Admin Sistem</h1>

        <div class="container d-flex justify-content-center">
            <div style="margin-top: 2%;text-align: center; ">
                <p><span class="font-weight-bold">Username</span>: {{ data_profil.0 }}</p>
            </div>
        </div>
    </div>
    
</body>
{% endblock %}
