{% extends "base.html" %}

{% block page_content %}

<body>
    <div style="margin-top: 40px;"  class=" outer-form container">
        <h3 style="text-align: center;">Selamat Datang</h3>
        <h1 style="text-align: center;" class="font-weight-bold">Dokter</h1>

        <div class="container d-flex justify-content-center">
            <div style="margin-top: 2%;text-align: center; ">
                <p><span class="font-weight-bold">Email</span>: {{ user.0 }}</p>
                <p><span class="font-weight-bold">No STR</span>: {{ role.1 }}</p>
                <p><span class="font-weight-bold">Nama lengkap</span>: {{ role.2 }}</p>
                <p><span class="font-weight-bold">Nomor HP</span>: {{ role.3 }}</p>
                <p><span class="font-weight-bold">Gelar Depan</span>: {{ role.4 }}</p>
                <p><span class="font-weight-bold">Gelar Belakang</span>: {{ role.5 }}</p>
            </div>
        
        </div>
    </div>

</body>
{% endblock %}
