{% extends "base.html" %}

{% block page_content %}

<body>
    <div style="margin-top: 40px;" class="outer-form container">
        <h3 style="text-align: center;">Selamat Datang</h3>
        <h1 style="text-align: center;" class="font-weight-bold">Pengguna Publik</h1>

        <div class="container d-flex justify-content-center">
            <div style="margin-top: 2%;text-align: center; ">
                <p><span class="font-weight-bold">Username </span>: {{ user.0 }}</p>
                <p><span class="font-weight-bold">NIK </span>: {{ role.1 }}</p>
                <p><span class="font-weight-bold">Nama </span>: {{ role.2 }}</p>
                <p><span class="font-weight-bold">Status </span>: {{ role.3 }}</p>
                <p><span class="font-weight-bold">Peran </span>: {{ role.4 }}</p>
                <p><span class="font-weight-bold">Nomor HP </span>: {{ role.5 }}</p>
                <br>
                <a class="btn btn-primary" href="{% url 'dokter:createAppointment' %}" role="button">Buat Appointment</a>
            </div>
           
        </div>
           
    </div>
    

</body>
{% endblock %}

