{% extends "base.html" %}

{% block page_content %}
<h1> <center> Form Ruangan Hotel </center></h1>

    <!-- {% if message is not None %}
    <div style="padding:auto; width:600px; height:70px; margin:auto; text-align=center;" class="alert alert-danger" role="alert" text-align="center">
    {{ message }}
    </div>
    {% endif %}
    <br>
    <br> -->

  <div class="container d-flex justify-content-center" align="center">

        <form action="{% url 'ruanganhotel:formHotelRoom' %}" method="post">
          {% csrf_token %}

          <div class="form-group">

          <h5>{{ form.kode.label }}</h5>
            {{ form.kode }}

          <h5>{{ form.koderoom.label }}</h5>
            {{ form.koderoom }}

          <h5>{{ form.jenisbed.label }}</h5> 
            {{ form.jenisbed }}

          <h5>{{ form.tipe.label }}</h5>
            {{ form.tipe }}

          <h5>{{ form.harga.label }}</h5>
            {{ form.harga }}

      	    </div>
          <input class="btn btn-outline-primary" type="submit" value="Simpan">

        </form>
   
  </div> 

{% endblock %}