{% extends 'base.html' %}

{% block page_content %}

<h1 class="mt-4"> <center> List Ruangan Hotel </center></h1>
<br>

<div class="container d-flex justify-content-center" align="center">
			
	<table class="table table-hover  justify-content-center" align="center" style="text-align: center;">
		<thead class="thead-dark">
            
				<th>No.</th>
				<th>Kode Hotel</th>
				<th>Kode Ruangan</th>
				<th>Jenis Bed</th>
				<th>Tipe</th>
                <th>Harga</th>
                {% if request.session.role == "ADMIN"%}
				<th>Action</th>
				{% endif %}

		</thead>
		{% for isi in room %}

		<tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ isi.kodehotel }}</td>
            <td>{{ isi.koderoom }}</td>
            <td>{{ isi.jenisbed }}</td>
            <td>{{ isi.tipe }}</td>
            <td>Rp{{ isi.harga }}</td>
            {% if request.session.role == "ADMIN"%}
            <td>
                <form action="{% url 'ruanganhotel:updateHotelRoom' %}" method="GET">
                   <input type="hidden" id="kode" name="kode" value="{{ isi.kodehotel }}">
                    <input type="hidden" id="koderoom" name="koderoom" value="{{ isi.koderoom }}">
                    <input type="hidden" id="jenisbed" name="jenisbed" value="{{ isi.jenisbed }}">
                    <input type="hidden" id="tipe" name="tipe" value="{{ isi.tipe }}">
                    <input type="hidden" id="harga" name="harga" value="Rp{{ isi.harga }}">
                    <input type="submit" class="btn btn-success" value="Update">
                </form>
            </td>

            <td>
                <form action="#" method="GET">
                    <input type="hidden" id="kodehotel" name="kodehotel" value="{{ isi.kodehotel }}">
                    <input type="hidden" id="koderoom" name="koderoom" value="{{ isi.koderoom }}">
                    <input type="hidden" id="jenisbed" name="jenisbed" value="{{ isi.jenisbed }}">
                    <input type="hidden" id="tipe" name="tipe" value="{{ isi.tipe }}">
                    <input type="hidden" id="harga" name="harga" value="Rp{{ isi.harga }}">
                    <input type="submit" class="btn btn-success" value="Delete">
                </form>
            </td>
            {% endif %}
        </tr>
        {% endfor %}
    </table>		
</div>

    <div class="col text-center" style="margin: 20px 20px">
        <form action="{% url 'ruanganhotel:listHotelRoom' %}" method="GET">
            <input type="submit" class="btn btn-outline-primary" value="SIMPAN">
        </form>
    </div>

{% endblock page_content %}