{% extends 'base.html' %}

{% block page_content %}
<h1> <center> Update Ruangan Hotel </center></h1>

<div class="container d-flex justify-content-center" align="center">
<form action="{% url 'ruanganhotel:updateHotelRoom' %}" method="post">
    {% csrf_token %}

    <div class="form-group">

    <div>

        <h5>{{ form.kode.label }}</h5>
        {{ form.kode }}

      <h5>{{ form.koderoom.label }}</h5>
        {{ form.koderoom }}

      <h5>{{ form.jenisbed.label }}</h5> 
        {{ form.jenisbed }}

      <h5>{{ form.tipe.label }}</h5>
        {{ form.tipe }}

      <h5>{{ form.harga.label }}</h5>
        {{ form.harga }}

        </div>
    <input class="btn btn-outline-primary" type="submit" value="Simpan">

  </form>
</div>
{% endblock page_content %}