<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

        <title>SIRUCO B6</title>
        {% block style_content %}

        {% endblock %}
    </head>
    <body>
        <header>
            <nav class="navbar navbar-expand-lg navbar-light bg-white text-danger">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse justify-content-end collapse" id="navbarNavDropdown">
                  <ul class="navbar-nav">


                    {% if request.session.username %}
                        {% if request.session.role != 'ADMIN' %}
                          <li class="nav-item dropdown">
                          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Pasien
                          </a>
                        
                          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                          {% if request.session.role == 'PENGGUNA_PUBLIK' %}
                            <a class="dropdown-item" href="{% url 'pasien:create-pasien' %}">Pendaftaran Pasien</a>
                            <a class="dropdown-item" href="{% url 'pasien:list-pasien' %}">List Pasien</a>
                          {% endif %}
                        
                          {% if request.session.role == 'PENGGUNA_PUBLIK' or request.session.role == 'ADMIN_SATGAS' %}
                            <a class="dropdown-item" href="{% url 'dokter:createAppointment' %}">Buat Appointment</a>

                          {% endif %}

                          {% if request.session.role == 'PENGGUNA_PUBLIK' or request.session.role == 'ADMIN_SATGAS' or request.session.role == 'DOKTER' %}
                            <a class="dropdown-item" href="{% url 'dokter:listAppointment' %}">List Appointment</a>
                            
                            <a class="dropdown-item" href="#">List Hasil Tes Pasien</a>
                          {% endif %}

                        {% if request.session.role == 'DOKTER' %}
                        <a class="dropdown-item" href="#">Buat Hasil Tes Pasien</a>
                        {% endif %}
                        </div>
                        </li>
                        {% endif %}


                        {% if request.session.role != 'ADMIN' %}
                        <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Rumah Sakit
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        {% if request.session.role == 'ADMIN_SATGAS' %}
                        <a class="dropdown-item" href="{% url 'rumahsakit:reservasiRS' %}">Buat RS</a>
                        <a class="dropdown-item" href="{% url 'rumahsakit:listReservasiRS' %}">List RS</a>
                        <a class="dropdown-item" href="{% url 'dokter:createRuanganRS' %}">Buat Ruangan RS</a>
                        <a class="dropdown-item" href="{% url 'dokter:listRuanganRS' %}">List Ruangan RS</a>
                        <a class="dropdown-item" href="{% url 'dokter:createBedRS' %}">Buat Bed RS</a>
                        <a class="dropdown-item" href="{% url 'dokter:listBedRS' %}">List Bed RS</a>                
                        <a class="dropdown-item" href="{% url 'reservasihotel:formReservasiHotel' %}">Buat Reservasi RS</a>
                        {% endif %}
                        
                        {% if request.session.role == 'PENGGUNA_PUBLIK' or request.session.role == 'ADMIN_SATGAS' %}
                        <a class="dropdown-item" href="{% url 'rumahsakit:listReservasiRS' %}">List Reservasi RS</a>
                        {% endif %}

                        {% if request.session.role == 'PENGGUNA_PUBLIK' or request.session.role == 'ADMIN_SATGAS' or request.session.role == 'DOKTER' %}
                        <a class="dropdown-item" href="{% url 'dokter:listJadwal' %}">List Jadwal Dokter</a>
                        {% endif %}

                        {% if request.session.role == 'DOKTER' %}
                        <a class="dropdown-item" href="{% url 'dokter:readJadwal' %}">Buat Jadwal Dokter</a>
                        {% endif %}
                        </div>
                        </li>
                        {% endif %}

                        {% if request.session.role != 'DOKTER' %}
                        <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Hotel
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        {% if request.session.role == 'ADMIN' %}
                        <!-- <a class="dropdown-item" href="#">Buat Hotel</a>
                        <a class="dropdown-item" href="#">List Hotel</a> -->
                        <a class="dropdown-item" href="{% url 'ruanganhotel:formHotelRoom' %}">Buat Ruangan Hotel</a>
                        <a class="dropdown-item" href="{% url 'ruanganhotel:listHotelRoom' %}">List Ruangan Hotel</a>
                        <!-- <a class="dropdown-item" href="#">Buat Paket Makan</a>
                        <a class="dropdown-item" href="#">List Paket Makan</a>         -->
                        {% endif %}
                        
                        {% if request.session.role == 'PENGGUNA_PUBLIK' %}
                        <!-- <a class="dropdown-item" href="#">List Hotel</a> -->
                        <a class="dropdown-item" href="{% url 'ruanganhotel:listHotelRoom' %}">List Ruangan Hotel</a>
                        <!-- <a class="dropdown-item" href="#">List Paket Makan</a> -->
                        <a class="dropdown-item" href="{% url 'reservasihotel:formReservasiHotel' %}">Buat Reservasi Hotel</a>
                        <a class="dropdown-item" href="{% url 'reservasihotel:listReservasiHotel' %}">List Reservasi Hotel</a>
                        {% endif %}

                        {% if request.session.role == 'ADMIN_SATGAS' %}
                        <a class="dropdown-item" href="{% url 'ruanganhotel:listHotelRoom' %}">List Ruangan Hotel</a>
                        <a class="dropdown-item" href="{% url 'reservasihotel:formReservasiHotel' %}">Buat Reservasi Hotel</a>
                        <a class="dropdown-item" href="{% url 'reservasihotel:listReservasiHotel' %}">List Reservasi Hotel</a>
                        {% endif %}
                        </div>
                        </li>
                        {% endif %}

                        {% if request.session.role == 'ADMIN_SATGAS' or request.session.role == 'PENGGUNA_PUBLIK' %}
                        <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Transaksi
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        {% if request.session.role == 'ADMIN_SATGAS' %}
                        <a class="dropdown-item" href="{% url 'rumahsakit:transaksiRS' %}">List Transaksi RS</a>
                        <a class="dropdown-item" href="{% url 'transaksihotel:listTransaksiHotel' %}">List Transaksi Hotel</a>
                        <a class="dropdown-item" href="{% url 'transaksibooking:listTransaksiBooking' %}">List Transaksi Booking Hotel</a>
                        <a class="dropdown-item" href="#">Buat Transaksi Makan dan Daftar Pesan</a>
                        <a class="dropdown-item" href="#">List Transaksi Makan dan Daftar Pesan</a>
                        {% endif %}
                        
                        {% if request.session.role == 'PENGGUNA_PUBLIK' %}
                        <a class="dropdown-item" href="#">Bayar Transaksi RS</a>
                        <a class="dropdown-item" href="#">Bayar Transaksi Hotel</a>
                        <a class="dropdown-item" href="{% url 'transaksibooking:listTransaksiBooking' %}">List Transaksi Booking Hotel</a>
                        <a class="dropdown-item" href="#">Buat Transaksi Makan dan Daftar Pesan</a>
                        <a class="dropdown-item" href="#">List Transaksi Makan dan Daftar Pesan</a>
                        {% endif %}
                        </div>
                        </li>
                        {% endif %}

                        {% if request.session.role == 'ADMIN_SATGAS' %}
                        <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Faskes
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="{% url 'faskes:ReservasiFaskes' %}">Buat Faskes</a>
                        <a class="dropdown-item" href="{% url 'faskes:listReservasiFaskes' %}">List Faskes</a>
                        <a class="dropdown-item" href="{% url 'faskes:buatJadwalFaskes' %}">Buat Jadwal Faskes</a>
                        <a class="dropdown-item" href="{% url 'faskes:listJadwalFaskes' %}">List Jadwal Faskes</a>
                        {% endif %}
                        </div>
                        </li>
  
                        <a class="nav-link text-danger" href="{% url 'users:logout' %}">Logout</a>
                        
                        {% endif %}
                    </ul>
                            

                    {% block navbar_content %}

                    {% endblock %}
                  </ul>
                </div>
              </nav>
        </header>
        {% block page_content %}

        {% endblock %}
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/Schttp://127.0.0.1:8000/QsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        {% block script_content %}

        {% endblock %}
    </body>
</html>
