{% extends "base.html" %}
{% load static %}
{% block page_content %}



<div class="main">
  <div class="container-fluid" style="max-height: 90vh; margin-top: 15%;">
    <div class="p-5 col-lg-12 col-md-6 col-sm-12 flex-column " style="text-align: center">
      <div class="welcome1" >
          <h2 class="mb-2">SIRUCO</h2>
      </div>
    
      <div class="welcome2 mb-3 text2 typewriter">
          <p>We serve the best for you and keep you to <span class ="orange"><strong>#StayAtHome </strong></span></p>
      </div>
    
      <div class="cta-but d-flex flex-row justify-content-center">
        <a href="{% url 'users:mylogin' %}">
          <button class="btn btn-primary mr-2 my-2 my-sm-0 rounded-lg btn-login"  type="submit">Login</button>
        </a>
        <a href="{% url 'users:regadminsistem' %}">
          <button class="btn btn-outline-primary my-2 my-sm-0 rounded-lg btn-register" type="submit">Register</button>     
        </a>
      </div>
    </div>
  </div>
  
</div>

{% endblock %}
