
{% extends "base.html" %}
{% load static %}
{% block page_content %}

<div class="col-lg-6 col-md-6 col-sm-12 d-flex justify-content-center align-items-left flex-column text-welcome">
  <div class="welcome1">
      <h2 class="mb-3 text1">Welcome to <br>Siruco</h2>
  </div>
  <div class="welcome2 mb-3 text2 typewriter">
      <p>We serve the best for you and keep you to <span class ="orange"><strong>#StayAtHome </strong></span></p>
  </div>
</div>

<div class="col-lg-6 col-md-6 col-sm-12 d-flex align-items-right flex-column">
<img class="kanan img-responsive" src="{% static 'gambarhomepage.jpg' %}">
</div>

{% endblock %}
