{% extends 'base.html' %}

{% block page_content %}

<h1 class="mt-4"> <center> List Transaksi Hotel </center></h1>
<br>

<div class="container d-flex justify-content-center" align="center">
			
	<table class="table table-hover  justify-content-center" align="center" style="text-align: center;">
		<thead class="thead-dark">
            
				<th>Id Transaksi</th>
				<th>NIK Pasien</th>
				<th>Tanggal Pembayaran</th>
				<th>Waktu Pembayaran</th>
				<th>Total Biaya</th>
                <th>Status</th>
                {% if request.session.role == 'ADMIN_SATGAS' or request.session.role == 'ADMIN' %}
				<th>Action</th>
				{% endif %}
		</thead>
		{% for isi in transhotel %}

		<tr>
            <td>{{ isi.idtransaksi }}</td>
            <td>{{ isi.kodepasien }}</td>
            <td>{{ isi.tanggalpembayaran | date:'d-m-Y' }}</td>
            <td>{{ isi.waktupembayaran }}</td>
            <td>Rp{{ isi.totalbayar }}</td>
            <td>{{ isi.statusbayar }}</td>
            
            {% if request.session.role == 'ADMIN_SATGAS' %}
            <td>
                <form action="{% url 'transaksihotel:updateTransaksiHotel' %}" method="GET">
                   <input type="hidden" id="idtransaksi" name="idtransaksi" value="{{ isi.idtransaksi }}">
                    <input type="hidden" id="kodepasien" name="kodepasien" value="{{ isi.kodepasien }}">
                    <input type="hidden" id="tanggalpembayaran" name="jenisbed" value="{{ isi.tanggalpembayaran | date:'d-m-Y' }}">
                    <input type="hidden" id="waktupembayaran" name="waktupembayaran" value="{{ isi.waktupembayaran }}">
                    <input type="hidden" id="totalbayar" name="totalbayar" value="Rp{{ isi.totalbayar }}">
                    <input type="hidden" id="statusbayar" name="statusbayar" value="{{ isi.statusbayar }}">
                    <input type="submit" class="btn btn-success" value="Update">
                </form>
            </td>
            {% endif %}
        </tr>
        {% endfor %}
    </table>		
</div>
{% endblock page_content %}