{% extends 'base.html' %}

{% block page_content %}
<h1> <center> Update Transaksi Hotel </center></h1>

<div class="container d-flex justify-content-center" align="center">
<form action="{% url 'transaksihotel:updateTransaksiHotel' %}" method="post">
    {% csrf_token %}

    <div class="form-group">

    <div>
        <h5>{{ form.idtransaksi.label }}</h5>
        {{ form.idtransaksi }}

      <h5>{{ form.kodepasien.label }}</h5>
        {{ form.kodepasien }}

      <h5>{{ form.tanggalpembayaran.label }}</h5> 
        {{ form.tanggalpembayaran }}

      <h5>{{ form.waktupembayaran.label }}</h5>
        {{ form.waktupembayaran }}

      <h5>{{ form.totalbayar.label }}</h5>
        {{ form.totalbayar }}

      <h5>{{ form.statusbayar.label }}</h5>
        {{ form.statusbayar }}
    </div>
    </div>
    <input class="btn btn-outline-primary" type="submit" value="Simpan">

  </form>
</div>
{% endblock page_content %}