{% extends 'base.html' %}

{% block page_content %}

<h1 class="mt-4"> <center> Buat Jadwal Dokter </center></h1>
<br>

{% if message is not None %}
    <div style="padding:auto; width:600px; height:70px; margin:auto; text-align=center;" class="alert alert-danger" role="alert" text-align="center">
    {{ message }}
    </div>
    {% endif %}
    <br>
    <br>
    
<div class="container d-flex justify-content-center" align="center">
			
	<table class="table table-hover  justify-content-center" align="center" style="text-align: center;">
		<thead class="thead-dark">
			
				<th>No.</th>
				<th>Kode Faskes</th>
				<th>Shift</th>
                <th>Tanggal</th>
                <th>Buat Jadwal Dokter</th>

		</thead>
		{% for isi in jadwal %}

		<tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ isi.kode_faskes }}</td>
            <td>{{ isi.shift }}</td>
            <td>{{ isi.tanggal | date:'Y-m-d' }}</td>
            <td>
                <form action="{% url 'dokter:createJadwal' %}" method="GET">
                    <input type="hidden" id="kode_faskes" name="kode_faskes" value="{{ isi.kode_faskes }}">
                    <input type="hidden" id="shift" name="shift" value="{{ isi.shift }}">
                    <input type="hidden" id="tanggal" name="tanggal" value="{{ isi.tanggal | date:'Y-m-d' }}">
                    <input type="submit" class="btn btn-success" value="Create">
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>		
</div>
{% endblock page_content %}