{% extends 'base.html' %}

{% block page_content %}

<h1 class="mt-4"> <center> Buat Ruangan RS </center></h1>

  <div class="container d-flex justify-content-center" align="center">
        <form action="{% url 'dokter:createRuanganRS' %}" method="POST">
          {% csrf_token %}

          <div class="form-group">
          <div>
            <br>
            <label style="font-size: 23px; font-weight: bold" for="kodeRS">Kode Rumah Sakit</label>
                <select class="form-control" name="kodeRS" id="kodeRS">
                </select>
            <br>

            <br>
            <label style="font-size: 23px; font-weight: bold" for="ruanganRS">Kode Ruangan</label>
                <input class="form-control" name="ruanganRS" id="ruanganRS" readonly>
                </input>
            <br>

            <h5>{{ form.tipe.label }}</h5> 
            <div class="input-group mb-3"> 
                {{ form.tipe }}
            </div>

            </h5>{{ form.harga_ruangan.label }}</h5>
            <div class="input-group mb-3">  
                {{ form.harga_ruangan }}
            </div>

      	</div>
          <input class="btn btn-outline-primary" type="submit" value="Simpan">
        </form>
  </div> 

{% endblock %}
{% block script_content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>

    $(document).ready(function () {
        $.ajax({
            type: 'GET',
            url: "{% url 'dokter:ajaxKodeRS' %}",
            data: {
                kode_faskes: $('#kodeRS').val()
            },
            async: false,
            success: function (response) {
              console.log(response)
                response.id.map((e) => {
                    $('#kodeRS').append(new Option(e, e))
                })
            }
        });

        $('#kodeRS').on('change', function () {
            $('#ruanganRS').find('option').remove()
            console.log($('#ruanganRS').val())
            $.ajax({
                type: 'GET',
                url: "{% url 'dokter:ajaxRuanganRS' %}",
                data: {
                    kode_rs: $('#kodeRS').val()
                },
                async: false,
                success: function (response) {
                    console.log(response)
                    $('#ruanganRS').val(response.id)
                }
            });
        });
    })

</script>
{% endblock %}