{% extends 'base.html' %}

{% block page_content %}
<h1 class="mt-4"> <center> Create Appointment </center></h1>
<br>
<div class="container d-flex justify-content-center" align="center">
			
	<table class="table table-hover justify-content-center" align="center" style="text-align: center;">
		<thead class="thead-dark">
            <th>No.</th>
            <th>No STR</th>
            <th>Email Dokter</th>
            <th>Kode Faskes</th>
            <th>Shift</th>
            <th>Tanggal</th>
            {% if request.session.role == 'ADMIN_SATGAS' or request.session.role == 'PENGGUNA_PUBLIK' %}
                    <th>Buat Appointment</th>
            {% endif %}
		</thead>

            {% for isi in appointment %}

            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ isi.nostr }}</td>
                <td>{{ isi.username }}</td>
                <td>{{ isi.kode_faskes }}</td>
                <td>{{ isi.shift }}</td>
                <td>{{ isi.tanggal | date:'d-m-Y' }}</td>
                {% if request.session.role == 'ADMIN_SATGAS' or request.session.role == 'PENGGUNA_PUBLIK' %}
                <td>
                    <form action="{% url 'dokter:formAppointment' %}" method="GET">
                        <input type="hidden" id="username" name="username" value="{{ isi.username }}">
                        <input type="hidden" id="kode_faskes" name="kode_faskes" value="{{ isi.kode_faskes }}">
                        <input type="hidden" id="shift" name="shift" value="{{ isi.shift }}">
                        <input type="hidden" id="tanggal" name="tanggal" value="{{ isi.tanggal | date:'Y-m-d' }}">
                        <input type="submit" class="btn btn-success" value="Book">
                    </form>
                </td>
                {% endif %}
            {% endfor %}
    </table>			
</div>

{% endblock page_content %}