{% extends "base.html" %}

{% block page_content %}
<h1> <center> Form Appointment </center></h1>

    {% if message is not None %}
    <div style="padding:auto; width:600px; height:70px; margin:auto; text-align=center;" class="alert alert-danger" role="alert" text-align="center">
    {{ message }}
    </div>
    {% endif %}
    <br>
    <br>

  <div class="container d-flex justify-content-center" align="center">

        <form action="{% url 'dokter:formAppointment' %}" method="post">
          {% csrf_token %}

          <div class="form-group">

          {% comment %} <h4>{{ form.nik.label }}</h4>
            {{ form.nik }} {% endcomment %}

          <label style="font-size: 23px; font-weight: bold" for="nik_pasien">NIK Pasien</label>
            <select class="form-control" name="nik_pasien" id="nik_pasien">
            </select>

          <h4>{{ form.email.label }}</h4>
            {{ form.email }}

          <h4>{{ form.kode_faskes.label }}</h4> 
            {{ form.kode_faskes }}

          <h4>{{ form.tanggal.label }}</h4>
            {{ form.tanggal }}

          <h4>{{ form.shift.label }}</h4>
            {{ form.shift }}

      	    </div>
          <input class="btn btn-outline-primary" type="submit" value="Simpan">

        </form>
   
  </div> 

{% endblock %}
{% block script_content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $.ajax({
            type: 'GET',
            url: "{% url 'dokter:ajaxAppointment' %}",
            data: {
                nik_pasien: $('#nik_pasien').val()
            },
            async: false,
            success: function (response) {
              console.log(response)
                response.id.map((e) => {
                    $('#nik_pasien').append(new Option(e, e))
                })
            }
        });
    })
</script>
{% endblock %}