{% extends 'base.html' %}

{% block page_content %}

<h1 class="mt-4"> <center> List Ruangan RS </center></h1>

<div class="container d-flex justify-content-center" align="center">
			
	<table class="table table-hover" align="center">
		<thead class="thead-dark">
			
				<th>No.</th>
				<th>Kode RS</th>
				<th>Kode Ruangan</th>
				<th>Tipe</th>
				<th>Jumlah Bed</th>
                <th>Harga Ruangan</th>
                <th>Action</th>

		</thead>
		{% for isi in data %}

		<tr>
            <td>{{ isi.nomor }}</td>
            <td>{{ isi.koders }}</td>
            <td>{{ isi.koderuangan }}</td>
            <td>{{ isi.tipe }}</td>
            <td>{{ isi.jmlbed }}</td>
            <td>{{ isi.harga }}</td>
            <td>
                <form action="{% url 'dokter:updateRuanganRS' %}" method="GET">
                    <input type="hidden" id="koders" name="koders" value="{{ isi.koders }}">
                    <input type="hidden" id="koderuangan" name="koderuangan" value="{{ isi.koderuangan }}">
                    <input type="submit" class="btn btn-success" value="Update">
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>		
</div>

{% endblock %}
