{% extends 'base.html' %}

{% block page_content %}

<h1 class="mt-4"> <center> List Appoinment </center></h1>
<br>

<div class="container d-flex justify-content-center" align="center">
			
	<table class="table table-hover  justify-content-center" align="center" style="text-align: center;">
		<thead class="thead-dark">
			
				<th>No.</th>
				<th>NIK Pasien</th>
				<th>Email Dokter</th>
				<th>Faskes</th>
				<th>Shift</th>
                <th>Tanggal</th>
                <th>Rekomendasi</th>
                {% if request.session.role == 'ADMIN_SATGAS' or request.session.role == 'DOKTER' %}
				<th>Action</th>
				{% endif %}

		</thead>
		{% for isi in appointment %}

		<tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ isi.nik_pasien }}</td>
            <td>{{ isi.username_dokter }}</td>
            <td>{{ isi.kode_faskes }}</td>
            <td>{{ isi.praktek_shift }}</td>
            <td>{{ isi.praktek_tgl | date:'d-m-Y' }}</td>
            <td>{{ isi.rekomendasi }}</td>
            
            {% if request.session.role == 'ADMIN_SATGAS' %}
            <td>
                <form action="{% url 'dokter:deleteAppointment' %}" method="GET">
                   <input type="hidden" id="nik" name="nik" value="{{ isi.nik_pasien }}">
                    <input type="hidden" id="username" name="username" value="{{ isi.username_dokter }}">
                    <input type="hidden" id="kode_faskes" name="kode_faskes" value="{{ isi.kode_faskes }}">
                    <input type="hidden" id="shift" name="shift" value="{{ isi.praktek_shift }}">
                    <input type="hidden" id="tanggal" name="tanggal" value="{{ isi.praktek_tgl | date:'Y-m-d' }}">
                    <input type="submit" class="btn btn-success" value="Delete">
                </form>
            </td>
            {% endif %}
            {% if request.session.role == 'DOKTER' %}
            <td>
                <form action="{% url 'dokter:updateAppointment' %}" method="GET">
                    <input type="hidden" id="nik" name="nik" value="{{ isi.nik_pasien }}">
                    <input type="hidden" id="username" name="username" value="{{ isi.username_dokter }}">
                    <input type="hidden" id="kode_faskes" name="kode_faskes" value="{{ isi.kode_faskes }}">
                    <input type="hidden" id="shift" name="shift" value="{{ isi.praktek_shift }}">
                    <input type="hidden" id="tanggal" name="tanggal" value="{{ isi.praktek_tgl | date:'Y-m-d' }}">
                    <input type="submit" class="btn btn-success" value="Update">
                </form>
            </td>
            {% endif %}
        </tr>
        {% endfor %}
    </table>		
</div>

    <div class="col text-center" style="margin: 20px 20px">
        <form action="{% url 'dokter:createAppointment' %}" method="GET">
            <input type="submit" class="btn btn-outline-primary" value="SIMPAN">
        </form>
    </div>
{% endblock page_content %}