{% extends 'base.html' %}

{% block page_content %}
<h1 class="mt-4"> <center> List Bed RS </center></h1>
<div class="container d-flex justify-content-center" align="center">
			
	<table class="table table-hover" align="center">
		<thead class="thead-dark">
			
				<th>No.</th>
				<th>Kode RS</th>
				<th>Kode Ruangan</th>
				<th>Kode Bed</th>
				<th>Action</th>

		</thead>
		{% for isi in data %}
        {% comment %} {% for isi2 in data2 %} {% endcomment %}
		<tr>
            <td>{{ isi.nomor }}</td>
            <td>{{ isi.koders }}</td>
            <td>{{ isi.koderuangan }}</td>
            <td>{{ isi.kodebed }}</td>

            {% if isi.kodebed not in outkodebed %}
            <td>
                <form action="{% url 'dokter:deleteBedRS'%}" method="GET">
                    <input type="hidden" id="koders" name="koders" value="{{ isi.koders }}">
                    <input type="hidden" id="koderuangan" name="koderuangan" value="{{ isi.koderuangan }}">
                    <input type="hidden" id="kodebed" name="kodebed" value="{{ isi.kodebed }}">
                    <input type="submit" class="btn btn-success" value="Delete">
                </form>
            </td>
            {% endif %}

        </tr>
        {% endfor %}
        {% comment %} {% endfor %} {% endcomment %}
    </table>		
</div>
{% endblock page_content %}