{% extends 'base.html' %}

{% block page_content %}
<h1 class="mt-4"> <center> Update Ruangan RS </center></h1>

<div class="container d-flex justify-content-center" align="center">

        <form action="{% url 'dokter:updateRuanganRS' %}" method="POST">
          {% csrf_token %}

            <div class="form-group">

                <div>
                <h4>{{ form.koders.label }}</h4>
                <div class="input-group mb-3 ">   
                    {{ form.koders }}
                </div>

                <h4>{{ form.koderuangan.label }}</h4>
                <div class="input-group mb-3">  
                    {{ form.koderuangan }}
                </div>

                <h4>{{ form.tipe.label }}</h4> 
                <div class="input-group mb-3"> 
                    {{ form.tipe }}
                </div>

                <h4>{{ form.harga.label }}</h4>
                <div class="input-group mb-3">  
                    {{ form.harga }}
                </div>

      	    </div>
          <input class="btn btn-outline-primary" type="submit" value="Update">

        </form>
   
  </div> 

{% endblock page_content %}