{% extends 'base.html' %}

{% block page_content %}
<h1> <center> Update Appointment </center></h1>
{% if message is not None %}
    <div style="padding:auto; width:600px; height:50px; margin:auto; text-align=center;" class="alert alert-danger" role="alert" text-align="center">
    {{ message }}
    </div>
    {% endif %}
    <br>
    <br>
    
<div class="container d-flex justify-content-center" align="center">
<form action="{% url 'dokter:updateAppointment' %}" method="post">
    {% csrf_token %}

    <div class="form-group">

    <div>

    <h4>{{ form.nik.label }}</h4>
    <div class="input-group mb-3 ">   
      {{ form.nik }}
    </div>

    <h4>{{ form.email.label }}</h4>
    <div class="input-group mb-3">  
      {{ form.email }}
    </div>

    <h4>{{ form.shift.label }}</h4>
    <div class="input-group mb-3">  
      {{ form.shift }}
    </div>

    <h4>{{ form.tanggal.label }}</h4>
    <div class="input-group mb-3">  
      {{ form.tanggal }}
    </div>

    <h4>{{ form.kode_faskes.label }}</h4> 
    <div class="input-group mb-3"> 
      {{ form.kode_faskes }}
    </div>

    <h4>{{ form.rekomendasi.label }}</h4>
    <div class="input-group mb-3">  
      {{ form.rekomendasi }}
    </div>

        </div>
    <input class="btn btn-outline-primary" type="submit" value="Simpan">

  </form>
</div>
{% endblock page_content %}